<div>

  <h1>Select wrapper</h1>

  <form [formGroup]="formGp" (ngSubmit)="submit()">

    <p>
      Form using the select wrapper, the SelectWrapper must redefined all
      select input (such as required, multiple, disabled...) and mat-error are not working
    </p>

    <app-select-wrapper formControlName="accessibility" [required]="true"></app-select-wrapper>

    <p>Selected value: {{formGp.value.accessibility}}</p>

    <button type="submit">Submit</button>
  </form>
</div>


<div>

  <h1>Embedded not working</h1>

  <p>
    Using a select where the options are embedded inside a component.
    The mat-select can't access the options, <strong>the select is not working</strong>
  </p>
  <mat-form-field>
    <mat-label>Accessibility</mat-label>
    <mat-select [(ngModel)]="notWorking" placeholder="Accessibility">
      <app-embedded-options-not-working></app-embedded-options-not-working>
      <mat-option value="NOT EMBEDDED">Option not embedded</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Selected value: {{notWorking}}</p>
</div>


<div>
  <h1>Embedded working</h1>


  <p>Working example with embedded option in OptionListComponent</p>
  <mat-form-field>
    <mat-label>Accessibility</mat-label>
    <mat-select [(ngModel)]="working" placeholder="Accessibility">
      <app-embedded-options-working></app-embedded-options-working>
      <mat-option value="NOT EMBEDDED">Option not embedded</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Selected value: {{working}}</p>

</div>


<div>
  <h1>Embedded working with AbstractEmbeddedOptionsDirective</h1>

  <p>
    Working example with embedded option in OptionFinalComponent
    that <strong>extends AbstractEmbeddedOptionsDirective</strong>
  </p>
  <mat-form-field>
    <mat-label>Accessibility</mat-label>
    <mat-select [(ngModel)]="final" placeholder="Accessibility">
      <app-embedded-options-final></app-embedded-options-final>
      <mat-option value="NOT EMBEDDED">Option not embedded</mat-option>
    </mat-select>
  </mat-form-field>

  <p>Selected value: {{final}}</p>

</div>
