<mat-form-field>
  <mat-label>Accessibility</mat-label>
  <mat-select [multiple]="multiple" [(ngModel)]="selectedValue" placeholder="Accessibility"
              (selectionChange)="onChanged($event)" (closed)="onSelectClosed()"
              [required]="required">
    <mat-option value="PUBLIC">PUBLIC</mat-option>
    <mat-option value="PRIVATE">PRIVATE</mat-option>
    <mat-option value="ADMIN">ADMIN</mat-option>

    <ng-content select="mat-error"></ng-content>
  </mat-select>
</mat-form-field>
